<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         bootstrap="tests/bootstrap.php"
    >

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9" />

        <server name="KERNEL_CLASS" value="App\Tests\App\AppKernel"/>
        <server name="KERNEL_DIR" value="./Tests/App"/>
        <ini name="zend.enable_gc" value="0"/>
    </php>

    <testsuites>
        <testsuite name="MobileDetectBundle Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>


        <coverage processUncoveredFiles="false">
            <include>
                <directory suffix=".php">./</directory>
            </include>
            <exclude>
                <directory>.github</directory>
                <directory>./src/Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <file>./tests/bootstrap.php</file>
            </exclude>
            <report>
                <clover outputFile="build/logs/clover.xml"/>
            </report>
        </coverage>

</phpunit>
